.valoresYColores p:nth-of-type(1) {
	color: red;
}

.valoresYColores p:nth-of-type(2) {
	color: #ff0000;
}

.valoresYColores p:nth-of-type(3) {
	color: rgb(255, 0, 0);
}

.valoresYColores p:nth-of-type(4) {
	color: #f00;
}

.valoresYColores div:nth-of-type(1) {
	background-color: rgba(0, 0, 255, 0.5);
	height: 200px;
	width: 200px;
}

.valoresYColores div:nth-of-type(2) {
	background-color: rgba(0, 0, 255);
	height: 200px;
	width: 200px;
}
